# Ignore LaTeX build files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.snm
*.nav
*.vrb
*.xdv

# Ignore local editor folders
.vscode/

# Ignore PDFs
*.pdf
